/*
------------------------------
Mars Theme

Version: 1.0
Published: 10/25/23
Updated: n/a
------------------------------
*/

.theme-dark {
	--custom-theme-background: linear-gradient(170.82deg, var(--bg-gradient-mars-1) 14.61%, var(--bg-gradient-mars-2) 74.62%);
}