/*
------------------------------
Midnight Burple Theme

Version: 1.0
Published: 10/25/23
Updated: n/a
------------------------------
*/

.theme-dark {
    --custom-theme-background: linear-gradient(48.17deg, var(--bg-gradient-midnight-blurple-1) 11.21%, var(--bg-gradient-midnight-blurple-2) 61.92%);
}