/*
------------------------------
Sunset Theme

Version: 1.0
Published: 10/25/23
Updated: n/a
------------------------------
*/

.theme-dark {
    --custom-theme-background: linear-gradient(141.68deg, var(--bg-gradient-sunset-1) 27.57%, var(--bg-gradient-sunset-2) 71.25%);
}