article {
	background: #00000038 !important;
}

code,
div[class*="textContainer"]:has(pre),
div[class*="text-sm-normal"][class*="footer"] {
	background: #0a091b !important;
}

code[class="inline"] {
	background: #342a61 !important;
}

div[class*="itemCard"],
div[class*="emptyCard"] {
	background: #1f1b4765;
}

div[class*="itemCard"]:hover {
	background: #080718 !important;
}

div[aria-roledescription="Open Thread Button"] {
	background: #1c133b;
}

div[class*="reaction_"] {
	background: #35305aa1 !important;
}

div[class*="jumpToPresentBar"] {
	background: #292375;
}

div[class*="newMessagesBar"] {
	background: #4e45cc;
}

div[class*="actionBar"] div[class*="button"],
div[class*="buttons"] div[class*="wrapper"],
div[class*="hoverButtonGroup"],
div[class*="topPill"] div[class*="selected"],
div[class*="actionButton"]:has(svg[class*="icon"]) {
	background: #322b79 !important;
}

div[class*="nonVisualMediaItemContainer"] {
	background: #211d5254 !important;
}

div[id*="message-accessories"] div[class*="wrapper"] {
	background: #322b7960;
}

li[class*="upload"] {
	background: #00000052;
}

section[class*="section"] {
	background: #1c1a35;
}

div[class*="emptyChannelIcon"] {
	background-color: #28245c;
}

div[class*="wrapper"]:has(div[class*="text"] h3),
div[class*="chatHeaderBar_"] {
	background-color: #18153d;
}

div[class*="buttonContainer"] button[class*="lookFilled"],
button[class*="followButton"],
button[class*="chatHeaderBarButton"] {
	background-color: #3e3975 !important;
}

div[class*="interactiveSelected"] {
	background-color: #201d4d;
}

div[class*="interactive"]:hover {
	background-color: #1c1a44;
}